NEXT_PUBLIC_INSTAGRAM_LINK="https://www.instagram.com/[your-instagram-username]/"
NEXT_PUBLIC_LINKEDIN_LINK="https://www.linkedin.com/in/[your-linkedin-username]/"
NEXT_PUBLIC_GITHUB_LINK="https://github.com/[your-github-username]"
NEXT_PUBLIC_EMAIL="[your-email]"
NEXT_PUBLIC_PHONE="[your-phone-number]"
NEXT_PUBLIC_ADDRESS="[your-address]"